 
.root{
     -fx-background-color: #C1B504;

     -fx-font-size: 12pt;
     -fx-font-family: "Ayuthya";
     -fx-base: #F8E0B3;     
 }


.label{
     -fx-text-fill: #1c1b1b;
  }

.menu{
-fx-background-color: #A86F03;

-fx-font-family: "Ayuthya";
 }




.button{

-fx-background-radius: 50;
     -fx-background-color: #AFC9C7;
-fx-font-size: 5pt;

 }

.text-area{
     -fx-background-color: #EECB88;
     -fx-background-radius: 0;
  }
  
  
  


