 
.root{
     -fx-background-color: #A1B5B4;

     -fx-font-size: 12pt;
     -fx-font-family: "Ayuthya";
     -fx-base: #F4EAEA;     
 }


.label{
     -fx-text-fill: #1c1b1b;
  }

.menu{
-fx-background-color: #D3B6A0;

-fx-font-family: "Ayuthya";
 }




.button{

-fx-background-radius: 50;
     -fx-background-color: #AFC9C7;
-fx-font-size: 5pt;

 }

.text-area{
     -fx-background-color: #F4EAEA;
     -fx-background-radius: 0;
  }
  
  
  


