 .root{
     -fx-background-color: linear-gradient(#02ddf5, #f507d5);

     -fx-font-size: 12pt;
     -fx-font-family: "Ayuthya";
     -fx-base: #F4EAEA;     
 }
.menu-bar {
    -fx-background-color: #F5A9E1;
}


 .label{
     -fx-text-fill: #1c1b1b;
  }

 .menu{
-fx-background-color: #D3B6A0;

-fx-font-family: "Ayuthya";
 }




 .button{

-fx-background-radius: 50;
     -fx-background-color: #AFC9C7;
-fx-font-size: 5pt;

 }

 .text-area{
     -fx-background-color: #F4EAEA;
     -fx-background-radius: 0;
  }
  
  


