 .root{
     -fx-background-color: linear-gradient(#02ddf5, #f507d5);
     -fx-font-size: 12pt;
     -fx-font-family: "Ayuthya";
     -fx-base: rgb(70, 30, 255);     
 }


 .label{
     -fx-text-fill: #1c1b1b;
  }

 .menu{
-fx-background-color: linear-gradient(#dc9556, #ab4642);

-fx-font-family: "Ayuthya";
 }




 .button{

-fx-background-radius: 1;
-fx-font-size: 5pt;

 }

 .text-area{
     -fx-background-color: blue;
     -fx-background-radius: 0;
  }


